<div class="pad-top-7">
    <div class="sidebar">
        <a title="Home" [routerLink]="[ '/', 'home' ]"><span class="icon-class"><i
                    class="bi bi-house-door-fill"></i></span></a>
        <a title="SQL library" [routerLink]="[ '/', 'sql-library' ]" routerLinkActive="active"><span
                class="icon-class"><i class="bi bi-book"></i></span></a>
                <a title="Tables & Views" [routerLink]="[ '/', 'tables-and-views' ]" routerLinkActive="active"><span class="icon-class"><i class="bi bi-collection"></i></span></a>
        <a class="active" title="About" [routerLink]="[ '/', 'about' ]"><span class="icon-class"><i
                    class="bi bi-people"></i></span></a>
    </div>

    <div class="content">
        <div class="div-padding">
            <div>
                <div class="wpb_wrapper pt-2">
                    <h5 style="font-size: 1.875rem;text-align: center" class="vc_custom_heading">About</h5>

                    <div style="text-align: center">
                        <img src="assets/Images/download.jpg" class="img-fluid" />
                    </div>
                    

                    <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                    <div class="vc_empty_space" style="height: 10px"><span class="vc_empty_space_inner"></span></div>
                    <div style="text-align: center" class="vc_custom_heading">Oracle Fusion SQL processor is a SQL
                        editor that to used to write and execute SQL queries</div>
                    <div style="text-align: center" class="vc_custom_heading">The tool is simple and easy to use, and
                        works effectively on major modern browsers!</div>
                </div>
            </div>
        </div>
    </div>
</div>